:root {
    /*colors*/
    --color-text: #000000;
    --color-primary: #FDFFE2;
    --color-secondary: #83B4FF;
    --color-dark: #0b2447;
    --color-bg: #fff;

    /*Fonts*/
    --font-robot: 'Roboto';
    --body-large-400-font-family: "Inter", Helvetica;
    --body-large-400-font-size: 20px;
    --body-large-400-font-style: normal;
    --body-large-400-font-weight: 400;
    --body-large-400-letter-spacing: 0px;
    --body-large-400-line-height: 28px;


    --body-regular-400-font-family: "Inter", Helvetica;
--body-regular-400-font-size: 16px;
--body-regular-400-font-style: normal;
--body-regular-400-font-weight: 400;
--body-regular-400-letter-spacing: 0px;
--body-regular-400-line-height: 24px;
--heading-heading-4-font-family: "Inter", Helvetica;
--heading-heading-4-font-size: 24px;
--heading-heading-4-font-style: normal;
--heading-heading-4-font-weight: 600;
--heading-heading-4-letter-spacing: 0.04800000071525574px;
--heading-heading-4-line-height: 32px;


}